# symfony/framework-bundle
/.env.local
/.env.*.local
/var/
/vendor/

# symfony/phpunit-bridge
.phpunit
.phpunit.result.cache
/phpunit.xml
/report/

# friendsofphp/php-cs-fixer
/.php-cs-fixer.php
/.php-cs-fixer.cache
